.user-circle{
    height: 30px;
    width: 30px;
}
.nav-button{
    margin-left: 5px;
    height: 40px;
}
.navbar-links{
    margin-top: 5px;
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
    height: 100vh;
    text-transform: uppercase; !important
    letter-spacing: .1rem;
    text-decoration: none;
}
.navbar-link{
    color: #095077;
    padding: 0 25px;
    font-size: 12px;
    font-weight: 600;
}

.logo{
    height: 30px;
    width: auto;

}

.nav-button-right{
    margin-right: 40px;
}

.brand{
    font-family: 'Raleway', sans-serif;
    font-weight: 100;
}