.user-circle{
    height: 30px;
    width: 30px;
}
.nav-button{
    margin-left: 5px;
    height: 40px;
}
.navbar-links{
    margin-top: 5px;
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
    height: 100vh;
    text-transform: uppercase; !important
    letter-spacing: .1rem;
    text-decoration: none;
}
.navbar-link{
    color: #095077;
    padding: 0 25px;
    font-size: 12px;
    font-weight: 600;
}

.logo{
    height: 30px;
    width: auto;
}

.btn-green {
    background-color: #29c75f !important;
}

.grey-color {
    color: grey !important;
}

.brand {
    font-family: 'Raleway', sans-serif;
    font-weight: 100;
}

.bank-field{
    max-width: 275px;
}


#mobile-links{
    display:none;
    width: 100%;
}

.wrap-around{
    word-wrap: break-word;
}

.centered {
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.padding-top{
    margin-top: 15px;
}

.padding-bottom{
    margin-bottom: 15px !important;
}

.padding-top-2{
    margin-top: 100px;
}

.padding-bottom-2{
    margin-bottom: 100px !important;
}

.padding-right{
    margin-right: 40px;
}

.padding-right-small{
    margin-right: 10px;
}


a.btn-success.nav-button:active,
a.btn-success.nav-button.active{
    background-color: #2b7d95; !important;
}

button.btn.btn-success:active,
button.btn.btn-success.active{
    background-color: #2b7d95; !important;
}


button.btn.btn-danger{
    background-color: #be302a; !important;
    border-color: #a61c19;
}