.user-circle{
    height: 30px;
    width: 30px;
}
.nav-button{
    margin-left: 5px;
    height: 40px;
}
.navbar-links{
    margin-top: 5px;
}
.navbar-link{
    color: #095077;
    padding: 0 25px;
    font-size: 12px;
    font-weight: 600;
    letter-spacing: .1rem;
    text-decoration: none;
    text-transform: uppercase;
    font-family: 'Raleway', sans-serif;
    height: 100vh;
    margin: 0;
}
